<!doctype html>
<html lang="en-gb" class="template-{{page.template.name}}">
<head>
	<meta name="robots" content="noindex, nofollow">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">

	<title>{{page.meta_title}}</title>

	<meta name="description" content="This page is called {{page.title}}">

	<link rel="preload" as="script" href="./js/uikit-core.min.js">
	<link rel="preload" as="script" href="./js/nbkit.min.js">

	<link rel="shortcut icon" href="./favicon.ico">

	<link rel="stylesheet" href="./css/uikit-theme.min.css" />
	<link rel="stylesheet" href="./css/main.min.css" />
</head>
<body data-load-components="{{loadComponents}}">
	<div class="o-scroll" data-scroll-container id="js-scroll">

		<header class="header uk-background-default">
			<nav class="uk-navbar-container uk-navbar uk-navbar-transparent" data-uk-navbar>

				<div class="uk-navbar-left">
					<a href="./" class="uk-navbar-item uk-logo">
						<img src="./img/logo.svg" data-uk-svg alt="{{nb.siteName}} Logo">
						<div class="uk-position-relative uk-overflow-hidden uk-flex uk-flex-middle">
							<img src="{{logo}}" alt="{{nb.siteName}} Logo">
						</div>
					</a>
				</div>

				{{#if menu}}
				<div class="uk-navbar-right">
					<div id="nav" class="nb-nav nb-nav-mobile" aria-hidden="true" hidden>
						{{> renderNavigation}}
						<div class="nav-contact uk-position-relative uk-width-expand uk-text-right">
							<div>
								<div class="uk-flex uk-flex-column">
									<div>
										<a href="tel:+4401856881173">+44 (0) 1856 881173</a>
									</div>
									<div>
										<a href="mailto:hello@crcaccountancy.co.uk">hello@crcaccountancy.co.uk</a>
									</div>
								</div>
								<ul class="uk-list">
									<li><span>4 Soulisquoy Loan</span></li>
									<li class="uk-margin-remove-top"><span>Kirkwall</span></li>
									<li class="uk-margin-remove-top"><span>Orkney</span></li>
									<li class="uk-margin-remove-top"><span>KW15 1BY</span></li>
								</ul>
							</div>
							<a class="uk-display-block callback" href="#">Request a call back{{>renderIcon name="arrow-right-nav" viewBox="92 44" class="uk-margin-small-left"}}</a>
						</div>
						<span class="nav-icon">
							{{>renderIcon name="lovework"}}
							{{>renderIcon name="lovework-tablet" viewBox="605 1024"}}
							{{>renderIcon name="lovework-mobile" viewBox="319 540"}}
						</span>
					</div>
					<button class="nb-navbar-toggle" aria-label="Toggle Navigation">
						<span role="presentation"></span>
					</button>
				</div>
				{{/if}}

			</nav>
		</header>

		<main>

			{{#if page.banner}}
				{{> banner}}
			{{else}}
				{{#> ukContainer size=(default page.ukContainer ukContainer) class="uk-margin-top"}}
					{{#*inline "out"}}
						<h1>{{page.h1}}</h1>
						{{> ukBreadcrumb}}
					{{/inline}}
				{{/ukContainer}}
			{{/if}}

			{{#> main}}{{/main}}

		</main>

		<footer class="footer uk-padding-large">
			<div class="uk-flex uk-flex-between">
				<div class="copyright">Copyright &copy; 2018 - {{year}} {{nb.clientName}}.</div>

				<div class="watermark">
					Website by <a title="NB Communication - Digital Marketing Agency" target="_blank" rel="noopener" href="https://www.nbcommunication.com/">NB</a>
				</div>
			</div>
		</footer>

	</div>

	<script src="./js/svgxuse.min.js"></script>
	<script src="./js/locomotive-scroll.min.js"></script>
	<script src="./js/uikit-core.min.js"></script>
	<script src="./js/nbkit.min.js"></script>
	<script src="./js/main.js"></script>

	<script>
		var isTablet = window.matchMedia("(max-width: 1200px)").matches;
		
		if(!isTablet) {
			(function() {

				document.documentElement.classList.add('is-loaded');
				document.documentElement.classList.remove('is-loading');

				setTimeout(() => {
					document.documentElement.classList.add('is-ready');
				},300)

				let options = {
					el: document.querySelector('#js-scroll'),
					smooth: true,
					getSpeed: true,
					getDirection: true
				}

				if(document.querySelector('#js-scroll').getAttribute('data-horizontal') == 'true') {
					options.direction = 'horizontal';
					options.gestureDirection = 'both';
					options.tablet = {
						smooth: true,
						direction: 'horizontal',
						horizontalGesture: true
					}
					options.smartphone = {
						smooth: false
					}
					options.reloadOnContextChange = true
				}

				setTimeout(() => {
					const scroll = new LocomotiveScroll(options);

					let dynamicBackgrounds = [];
					let dynamicColorElements = [];

					scroll.on('scroll', (instance) => {
						const progress = 360 * instance.scroll.y / instance.limit;

						scroll.el.style.backgroundColor = `hsl(${progress}, 11%, 81%)`;

						dynamicBackgrounds.forEach(obj => {
							obj.el.style.backgroundColor = `hsl(${progress}, 11%, 81%)`;
						});
						dynamicColorElements.forEach(obj => {
							obj.el.style.color = `hsl(${progress}, 11%, 81%)`;
						});

						document.documentElement.setAttribute('data-direction', instance.direction)

					});

					scroll.on('call', (value, way, obj) => {
						if (value === 'dynamicBackground') {
							if(way === 'enter') {
								dynamicBackgrounds.push({
									id: obj.id,
									el: obj.el
								});
							} else {
								for (var i = 0; i < dynamicBackgrounds.length; i++) {
									if(obj.id === dynamicBackgrounds[i].id) {
										dynamicBackgrounds.splice(i,1);
									}
								}
							}
						} else if (value === 'dynamicColor') {
							if(way === 'enter') {
								dynamicColorElements.push({
									id: obj.id,
									el: obj.el
								});
							} else {
								for (var i = 0; i < dynamicColorElements.length; i++) {
									if(obj.id === dynamicColorElements[i].id) {
										dynamicColorElements.splice(i,1);
									}
								}
							}
						}
					});

				}, 1000)

			})();
		}
	</script>
</body>
</html>

