<div class="banner">
	{{#> ukContainer size=(default page.banner.size (default page.ukContainer ukContainer))}}
	{{#*inline "out"}}
		<div id="bannerTarget" class="banner-title">
			<h1 data-scroll data-scroll-sticky data-scroll-target="#bannerTarget" class="uk-width-1-2@l uk-position-relative uk-position-z-index">{{page.h1}}</h1>
		</div>
		<img data-scroll data-scroll-speed="10" data-scroll-position="top" src="{{page.banner.src}}"
			alt="{{default page.banner.alt ""}}" width="{{page.banner.width}}" height="{{page.banner.height}}"
			loading="lazy">
	{{/inline}}
	{{/ukContainer}}
	{{!-- <div class="banner-bottom">
		{{#> ukContainer size=(default page.banner.size (default page.ukContainer ukContainer)) id="banner-direction"}}
		{{#*inline "out"}}
			<h1 data-scroll data-scroll-direction="horizontal" data-scroll-target="#banner-direction"
				data-scroll-speed="40">that helps you build a better business.</h1>
		{{/inline}}
		{{/ukContainer}}
	</div> --}}
</div>