<div class="uk-card">

    <div class="uk-width-1-1">
        <div class="uk-card-media-top uk-position-relative">
            <img data-uk-svg src="./img/rings-thin.svg" alt="image" class="uk-position-center uk-preserve">
            <img src="{{src}}" alt="{{default alt ""}}" width="{{width}}" height="{{height}}" loading="lazy">
        </div>

        <div class="uk-card-body">
            {{#if getSummary}}
            <p>
                {{getSummary}}
            </p>
            {{/if}}
        </div>
    </div>
</div>