{{#with context}}
<div class="context{{#if secondary}} uk-background-secondary{{/if}}">
	{{#> ukContainer size=ukContainer}}
		{{#*inline "out"}}

            {{#if title}}<h2>{{{title}}}</h2>{{/if}}
            <div class="uk-position-relative">
                {{#> ukGrid class="uk-grid-xlarge uk-child-width-1-2@l"}}
                    {{#*inline "cells"}}
                        <div class="uk-visible@l">
                            <div class="uk-flex-inline number" data-scroll data-scroll-class="animation-slide-bottom">
                                {{numberOne}}
                            </div>
                            <div class="uk-flex-inline number" data-scroll data-scroll-class="animation-slide-bottom">
                                {{numberTwo}}
                            </div>
                        </div>

                        <div class="number-wrap uk-hidden@l{{#if secondary}} uk-position-left-top{{else}} uk-position-right-top{{/if}}">
                            <span class="number">{{numberOne}}</span>
                            <span class="number">{{numberTwo}}</span>
                        </div>

                        <div class="context-text" data-scroll data-scroll-class="animation-slide-bottom">
                            <h3 class="uk-text-uppercase"><span>{{subTitle}}</span></h3>
                            {{#each paragraph}}
                                {{#with this}}
                                    <p>{{text}}</p>
                                {{/with}}
                            {{/each}}
                        </div>
                    {{/inline}}
                {{/ukGrid}}
            </div>

		{{/inline}}
	{{/ukContainer}}
</div>
{{/with}}