{{#with context}}
<div class="context-wrap{{#if secondary}} uk-background-secondary{{/if}}">
	{{#> ukContainer size=ukContainer}}
		{{#*inline "out"}}

            <div class="context">

                {{#if title}}<h2>{{{title}}}</h2>{{/if}}

                {{#if reverse}}

                    {{#> ukGrid class="uk-grid-large uk-flex uk-child-width-1-2 uk-flex-row-reverse"}}
                        {{#*inline "cells"}}

                            <div>

                                {{#> ukGrid class="uk-grid-small uk-flex uk-child-width-1-2"}}
                                    {{#*inline "cells"}}
                                        <div data-scroll data-scroll-speed="1">
                                            <span class="number">{{numberOne}}</span>
                                        </div>
                                        <div data-scroll data-scroll-speed="3">
                                            <span class="number">{{numberTwo}}</span>
                                        </div>
                                    {{/inline}}
                                {{/ukGrid}}      

                            </div>
                            <div data-scroll data-scroll-speed="5">
                                <h3 class="uk-text-uppercase">{{subTitle}}</h3>

                                {{#each paragraph}}
                                    {{#with this}}

                                        <p>{{text}}</p>
                                    {{/with}}
                                {{/each}}    

                            </div>
                        {{/inline}}
                    {{/ukGrid}}

                {{else}}

                    {{#> ukGrid class="uk-grid-large uk-flex uk-child-width-1-2"}}
                        {{#*inline "cells"}}

                            <div>

                                {{#> ukGrid class="uk-grid-small uk-flex uk-child-width-1-2"}}
                                    {{#*inline "cells"}}
                                        <div data-scroll data-scroll-speed="1">
                                            <span class="number">{{numberOne}}</span>
                                        </div>
                                        <div data-scroll data-scroll-speed="3">
                                            <span class="number">{{numberTwo}}</span>
                                        </div>
                                    {{/inline}}
                                {{/ukGrid}}      

                            </div>
                            <div data-scroll data-scroll-speed="5">
                                <h3 class="uk-text-uppercase">{{subTitle}}</h3>

                                {{#each paragraph}}
                                    {{#with this}}

                                        <p>{{text}}</p>
                                    {{/with}}
                                {{/each}}    

                            </div>
                        {{/inline}}
                    {{/ukGrid}}
                {{/if}}
                        
            </div>

		{{/inline}}
	{{/ukContainer}}
</div>
{{/with}}