{{#with context}}
<div class="context {{#if secondary}} uk-background-secondary{{/if}}">
	{{#> ukContainer size=ukContainer}}
		{{#*inline "out"}}

            {{#if title}}<h2>{{{title}}}</h2>{{/if}}

            {{#> ukGrid class="uk-grid-xlarge uk-child-width-1-2@l context-wrap"}}
                {{#*inline "cells"}}
                    <div class="uk-visible@l">
                        {{#> ukGrid class="uk-grid-collapse uk-child-width-1-2"}}
                            {{#*inline "cells"}}
                            <div>
                                <div class="number">{{numberOne}}</div>
                            </div>
                            <div>
                                <div class="number number-lerp">{{numberTwo}}</div>
                            </div>
                            {{/inline}}
                        {{/ukGrid}} 
                    </div>

                    {{!-- <div class="number-wrap uk-hidden@l{{#if secondary}} uk-position-left-top{{else}} uk-position-right-top{{/if}}">
                        <span class="number">{{numberOne}}</span>
                        <span class="number">{{numberTwo}}</span>
                    </div> --}}
                    <div>
                        <div class="context-text">
                            <h3 class="uk-text-uppercase"><span>{{subTitle}}</span></h3>
                            {{#each paragraph}}
                                {{#with this}}
                                    <p>{{text}}</p>
                                {{/with}}
                            {{/each}} 
                        </div> 
                    </div>
                {{/inline}}
            {{/ukGrid}}                 

		{{/inline}}
	{{/ukContainer}}
</div>
{{/with}}