<a href="{{url}}" rel="noreferrer noopener" target="_blank" class="uk-border-circle uk-background-primary uk-flex uk-flex-center uk-flex-middle value">
	<img src="{{src}}" alt="{{alt}} Logo" width="{{width}}" height="{{height}}" loading="lazy">
</a>
